.intro {
  width: 100%;
  height: 85vh;
  position: relative;
  background: url("/public/intro-bg.jpg") center center no-repeat;
  background-size: cover;
    display: flex;
  align-items: flex-end; 
  
}

.intro-secondary {
  width: 100%;
  height: 45vh;
  position: relative;
  background: url("/public/intro-bg.jpg") center center no-repeat;
  background-size: cover;
    display: flex;
  align-items: flex-end; 
}



.glowing-shadow {
    position: relative;
}

.glowing-shadow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 0 10px #1d50c3, 0 0 20px #1d50c3, 0 0 30px #1d50c3, 0 0 40px #00c3ff, 0 0 70px #00c3ff, 0 0 80px #00c3ff, 0 0 100px #00c3ff, 0 0 150px #00c3ff;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.5s;
}

.glowing-shadow:hover::after {
    opacity: 1;
}
@keyframes typing {
  from { width: 0 }
  to { width: 44%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgba(0, 255, 255, 0.75);
  width: 0;
  animation: typing 1.6s steps(15, end) forwards, blink 0.7s step-end infinite;
}


