.intro {
    width: 100%;
    position: relative;
    background: url("/public/intro-bg.png") center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 120px 0;
    height: 85vh;
}
.intro-secondary {
    width: 100%;
    position: relative;
    background: url("/public/intro-bg.png") center bottom no-repeat;
    background-size: cover;
    padding: 150px 0 120px 0;
    height: 45vh;
}