body {
    background: #fff;
    color: #444;
    color: #243665;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #243665;
    transition: 0.5s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #243665;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  /* Back to top button */
  .back-to-top {
    position: fixed;
    display: none;
    background: #243665;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  /* Prelaoder */
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #243665;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
  #header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  }
  
  #header.header-scrolled {
    height: 60px;
    padding: 10px 0;
  }
  
  @media (max-width: 991px) {
    #header {
      height: 60px;
      padding: 10px 0;
    }
  }
  
  #header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  @media (max-width: 991px) {
    #header .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
    color: #243665;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 7px 0;
    max-height: 26px;
  }
  
  /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
  /* Desktop Navigation */
  .main-nav {
    /* Drop Down */
    /* Deep Drop Down */
  }
  
  .main-nav,
  .main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .main-nav a {
    display: block;
    position: relative;
    color: #243665;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .main-nav a:hover,
  .main-nav .active>a,
  .main-nav li:hover>a {
    color: #243665;
    text-decoration: none;
  }
  
  .main-nav .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .main-nav .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .main-nav .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .main-nav .drop-down ul a {
    padding: 10px 20px;
    font-size: 13px;
    color: #243665;
  }
  
  .main-nav .drop-down ul a:hover,
  .main-nav .drop-down ul .active>a,
  .main-nav .drop-down ul li:hover>a {
    color: #007bff;
  }
  
  .main-nav .drop-down>a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
  }
  
  .main-nav .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .main-nav .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .main-nav .drop-down .drop-down>a {
    padding-right: 35px;
  }
  
  .main-nav .drop-down .drop-down>a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
  }
  
  .main-nav a:hover {
  
    border-bottom: 4px solid #0062cc;
    ;
    transform: translateY(-4px);
    transition: all 0.2s ease-out;
  }
  
  .main-nav .active a:hover {
  
    border-bottom: 0px !important;
  
  }
  
  .main-nav .active a {
    background-color: #0062cc;
    border-radius: 20px;
    color: white !important;
  }
  
  /* Mobile Navigation */
  .mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #243665;
    transition: 0.4s;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
  }
  
  .mobile-nav a:hover,
  .mobile-nav .active>a,
  .mobile-nav li:hover>a {
    color: #74b5fc;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down>a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down>a:after {
    content: "\f077";
  }
  
  .mobile-nav .drop-down>a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #004289;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(19, 39, 57, 0.8);
    overflow: hidden;
    display: none;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
    # Intro Section
    --------------------------------------------------------------*/
  #intro {
    width: 100%;
    position: relative;
    background: url("../img/intro-bg.png") center bottom no-repeat;
  
    height: 200px;
    padding: 200px 0 120px 0;
  }
  
  @media (max-width: 991px) {
    #intro {
      padding: 140px 0 60px 0;
    }
  }
  
  @media (max-width: 574px) {
    #intro {
      padding: 100px 0 20px 0;
    }
  }
  
  #intro .heading {
    width: 50%;
    float: left;
  
  }
  
  @media (max-width: 991px) {
    #intro .heading {
      width: 80%;
      float: none;
      margin: auto;
      text-align: center;
    }
  }
  
  @media (max-width: 767px) {
    #intro .heading {
      width: 100%;
    }
  }
  
  #intro .heading {
    color: #fff;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #intro .heading span {
    color: #74b5fc;
  
  }
  
  @media (max-width: 767px) {
    #intro .home-info h2 {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }
  
  
  /* About Us Section
    --------------------------------*/
  #about {
    background: #fff;
    padding: 60px 0;
  }
  
  
  
  #about .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  
  @media (max-width: 991px) {
    #about .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 25px;
    }
  
  }
  
  #about .grid div {
    background-color: #fff;
    border-radius: 20px;
  
  }
  
  #about h2 span {
    color: #007bff;
  }
  
  #about .grid div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.2s ease-out
  }
  
  #about .grid div img:hover {
    transform: scale(1.1);
  }
  
  #about .grid .one,
  .two {
    box-shadow: 2px 2px 2px 2px #bfddfe;
  }
  
  #about .social {
    font-size: 20px;
  }
  
  #about .social i:hover {
    cursor: pointer;
    font-size: 25px;
  }
  
  #about .grid .one .img {
    margin-top: 15px;
    padding: 10px;
    width: 40%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  #about .grid .one .text {
    padding: 10px 0px;
    display: flex;
    width: 60%;
    float: left;
    flex-direction: column;
    text-align: right;
  }
  
  #about .grid .two .img {
    margin-top: 15px;
    padding: 10px;
    width: 40%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  #about .grid .two .text {
    padding: 10px 0px;
    width: 60%;
    float: right;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .two {
    transform: translateY(10px);
  }
  
  /*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
  #footer {
    background: #00428a;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #004a99;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #ecf5ff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #007bff;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #0067d5;
    color: #fff;
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 8px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #ecf5ff;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #74b5fc;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #007bff;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0062cc;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #f1f7ff;
  }
  
  #footer .credits a {
    color: #bfddfe;
  }
  
  #footer .credits a:hover {
    color: #f1f7ff;
  }
  
  .btn {
    margin-left: 97px;
    width: 40%;
    margin-top: 10px;
    font-size: 12px;
    height: 29px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    background-color: #bfddfe;
    color: black;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    ;
    /* background: transparent; */
  
  }
  
  .btn:hover {
    background-color: rgb(177, 169, 169);
  }
  
  /* ELOQUENSE */
  #eloquense {
    background-color: #bfddfe;
  
  }
  
  #eloquense .elo {
    color: #243665;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
  
  .imagine {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
  
  }
  
  .lead {
    margin: 10px;
    padding: 4px;
  }
  
  .hsub {
    margin: 10px;
    padding: 4px;
  }
  
  .lmain {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  
  .sub {
    font-weight: bold;
  }
  
  .reg {
    margin: 15px;
    width: 140px;
    font-size: 12px;
    height: 29px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    color: black;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #bfddfe;
  }
  
  .reg:hover {
    background-color: rgb(146, 142, 142);
  
  
  }
  
  /* ROBONIX */
  #robonix .rob {
  
    text-align: center;
    color: #243665;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700;
  }
  
  .regi {
    margin: 15px;
    width: 140px;
    font-size: 12px;
    height: 29px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    color: black;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(184, 174, 174);
  }
  
  .regi:hover {
    background-color: #bfddfe
  }
  
  /* CYBERNIX */
  #cybernix {
    background-color: #bfddfe;
  }
  
  #cybernix .cyb {
    color: #243665;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
  
  /* Lensified */
  
  #lensified .lens {
    color: #243665;
    margin-bottom: 0px;
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
  
  /* FUN */
  #fun {
    background-color: #bfddfe;
  }
  
  #fun .nfun {
    color: #243665;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
  .btn {
    margin-left: 97px;
    width: 40%;
    margin-top: 10px;
    font-size: 12px;
    height: 29px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    background-color: rgb(143, 228, 199);
    color: black;
    text-align: center;
    padding: 2px;
    font-weight:bold;
    border-radius: 10px;
    ;
    /* background: transparent; */
  
  }
  
  .btn:hover {
    background-color: rgb(198, 241, 225);
  }
  .reg {
    margin: 15px;
    width: 140px;
    margin-top: 10px;
    font-size: 12px;
    height: 29px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    color: black;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-weight: bold;
    background-color:rgb(143, 228, 199);
  }
  
  .reg:hover {
    background-color: rgb(198, 241, 225);
    
  }
  .regi {
    margin: 15px;
    width: 140px;
    margin-top: 10px;
    font-size: 12px;
    height: 29px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    color: black;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(143, 228, 199);;
  
  }
  
  .regi:hover {
    background-color:rgb(198, 241, 225);;
  }